@import 'todos_style.css';
@import 'projects_style.css';
@import 'main_content.css';
@import 'utilities.css';
@import 'shared_modal.css';
@import 'task_form.css';
@import 'event_form.css';

:root{
    --document-background: #514e48;
    --app-background: #dddcc8;
    --content-background: #eeede4;
    --accent-red: #fa0000;
    --accent-green: #115044;
    --accent-blue: #285b86;
    --accent-brown: #735c38;
    --button-background: #000000;
    font-family: 'Inter', system-ui, sans-serif;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: var(--document-background);
}
.app-layout{
    background-color: var(--app-background);
    margin: 50px;
    display: flex;
    flex: 1;
    border-radius: 10px;
    flex-direction: row;
    /* gap: 10px; */
}
.hidden {
    display: none;
}